*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    line-height: 1.5rem;
}
.container{
    background-color: #0084FD;
}
.nav-bar{
    max-width: 1100px;
    height: 5rem;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.list-nav li{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
.list-nav li:hover{
    background-color: rgb(25, 168, 220);
}
.link-nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
.btn{
    display: block;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}

.nav-bar i{
    color: white;
    font-size: 2rem;
}
@media screen and (max-width: 810px) {
    .list-nav{
        display: none;
    }
}
@media screen and (min-width: 811px) {
    .nav-bar i{
        display: none;
    }
}
.contain-cards{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.contain-card-1{
    display: flex;
    
    
}
.card{
    /* width: calc( 1100px / 2); */
}
.card-1{
    flex: 1 1 680px;
    background-color: #B5DDFF;
    padding: 0 2rem;
    border-radius: 2rem;
    
}
.card h2{
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: #0084FD;
}
.img-card{
    display: flex;
    padding-right: 4rem;
   
}
.img-card img{
    width: 100%;
}
.btn-app-store{
    color: white;
    background-color: #0084FD;
    font-size: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.btn-app-store i{
    font-size: 20px;
    padding-right: 0.5rem;
}
.card-2{
    flex: 1 1 307px;
    background-color: #B5DDFF;
    border-radius: 2rem;
    text-align: center;
}

.card-2 i{
    font-size: 4rem;
    color: #0084FD;
    padding-top: 1rem;
}