* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5rem;
}

.container {
    background-color: #0084FD;
}

.nav-bar {
    max-width: 1100px;
    height: 5rem;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.list-nav li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.list-nav li:hover {
    background-color: rgb(25, 168, 220);
}

.link-nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.btn {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}

.nav-bar i {
    color: white;
    font-size: 2rem;
}

@media screen and (max-width: 810px) {
    .list-nav {
        display: none;
    }
    .contain-card-1{
        flex-wrap: wrap;
    }
    .contain-purple{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 811px) {
    .nav-bar i {
        display: none;
    }
}

.contain-cards {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.contain-card-1 {
    display: flex;
}

.container-main {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.card-1 {
    flex: 0 1 calc((100% - 1rem) / 3 * 2);
    background-color: #B5DDFF;
    padding: 0 2rem;
    border-radius: 2rem;

}

.card h2 {
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: #0084FD;
}

.img-card {
    display: flex;
    padding-right: 4rem;

}

.img-card img {
    width: 200px;
    display: block;
}

.btn-app-store {
    color: white;
    background-color: #0084FD;
    font-size: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn-app-store i {
    font-size: 20px;
    padding-right: 0.5rem;
}

.card-2 {
    flex: 0 1 calc((100% - 2rem) / 3);
    background-color: #B5DDFF;
    border-radius: 2rem;
    text-align: center;
}

.card-2 i {
    font-size: 4rem;
    color: #0084FD;
    padding-top: 1rem;
}
.container-purple-section{
    background-color: #9792E4;
}
.contain-purple{
    max-width: 1000px;
    display: flex;
    margin: auto;
    padding: 3rem 6rem;
    
}

.purple-left img{
    width: 100%;
}
.purple-right img{
    width: 100%;
    
}
.purple-left{
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.purple-right{
    background-color: white;
    border-radius: 3rem;
    padding:1rem;
    align-self: flex-end;
}
.purple-right p{
    text-align: center;
}
@media screen and (max-width: 580px) {
    .card-1{
        flex: 0 1 100%;
    }
    .card-2{
        flex: 0 1 100%;
    }
    
}
